<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class='alt-page-container'>
        <ul class='flashes'>
          {% for message in messages %}
            <div class='item'>
              <li>{{ message }}</li>
            </div>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endwith %}

    <a class='img-link-display-on-hover' href='{{url_for('getAllStats')}}'>
      <img src='/static/img/ic_poll_black_48px.svg' alt="All Time Stats"/>
      <span>Get All Time Stats</span>
      <h1>Service Alerts</h1>
    </a>
    {% if alerts %}
      {% for alert in alerts %}
        <div class='page-container'>
            <div class='item'>
              <span style='font-size: 0.75em;'>
                Maintenence has been scheduled for</span>
                <br/>
              <div class='scrolly-list'>
                {% set servers = json.loads(alert.servers) %}

                {% for s in servers %}
                <div class='scrolly-list-item'>
                    <img src='/static/img/ic_system_update_black_18px.svg'>
                      <div style='padding: 16px 50px;'>  {{s}} </div>
                </div>
                {% endfor %}
              </div>
              on <span class='data'>{{alert.date}}</span>
              <br/>
              from <span class='data'>{{alert.startTime}}</span>
              to <span class='data'>{{alert.endTime}}</span>
            </div>
            <div class='buttons' >
            {% if alert.isApproved == 0 %}
              <div class='button'>
                <a href='{{url_for('approveAlert', alert_id=alert.id)}}' >
                  <span span class='button-text'>APPROVE ALERT</span>
                </a>
              </div>
              {% endif %}
              <br/>
              <br/>
              <div class='button'>
                <a href='{{url_for('deleteAlert', alert_id=alert.id)}}' >
                  <span span class='button-text'>DELETE ALERT</span>
                </a>
              </div>
              <br/>
              <br/>
                <a class='img-link' href='{{url_for('getStats', alert_id=alert.id)}}'>
                  <img src='/static/img/ic_poll_black_24px.svg' />
                  <span><br/>GET STATS<span>
                </a>
              <br/>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <div class='page-container'>
        <div class='item'>
          <span style='font-size: 0.5em; font-style: italic;'>There are no service alerts right now.</span>
        </div>
      </div>
    {% endif %}

    <a class='img-link' href='{{url_for('createAlert')}}'>
      <img id='new-alert' src='/static/img/ic_add_alert_black_48px.svg' alt="New Alert"/>
      <span><br/>New Alert</span>
    </a>

  </body>
</html>
