<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
  </head>
  <body>

    <div class='page-container'>
      <div class='item'>
        Patch for
        <div class='scrolly-list'>
          {% set servers = json.loads(alert.servers) %}

          {% for s in servers %}
          <div class='scrolly-list-item'>
              <img src='/static/img/ic_system_update_black_18px.svg'>
                <div style='padding: 16px 50px;'>  {{s}} </div>
          </div>
          {% endfor %}
        </div>
          on <span class='data'>{{alert.date}}</span>
          <br/>
          from <span class='data'>{{alert.startTime}}</span>
          to <span class='data'>{{alert.endTime}}</span>
          <br/>
          <br/>
        <span style='font-style: italic; font-size: 0.5em;'>(pending approval)</span>
      </div>
    </div>
    <div class='page-container' style='border: none;'>
      <form method='POST' action='{{url_for('approveAlert', alert_id=alert.id, user_id=user_id)}}'>
        <div class='item-box'>
          <div class='item'>
            <h3>Do you approve?</h3>
              <input type='submit' value="YES" style='color:white;' class='button'/>
              <br/>
              <br/>
              <a style='font-size: 0.75em;' href='{{url_for('showAllAlertsAdmin')}}'>
                No, cancel this alert.
              </a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
