<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
  </head>
  <body>
    <div class='page-container'>
      <form method='POST' action='{{url_for('createAlert', user_id=user_id)}}'>
          <h2>Create a new alert of service.</h2>
          <br/><br/>
          What servers will be affected?<br/>
          <input type='text' name='Servers' placeholder="Servers" maxlength='2000'/>
          When will the service take place? <br/>
          <input type='date' name='Date' placeholder="Date"/>
          From what time:<br/>
          <input type='time' name='startTime' placeholder="Start Time"/>
          To what time: <br/>
          <input type='time' name='endTime' placeholder="End Time"/>
        <div class='item'>  <input style='color: white;' class='button' type='submit' value="submit"/></div>
      </form>
    </div>
  </body>
</html>
