<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
  </head>
  <body>
    <div class='page-container'>
      <form method='POST' action='{{url_for('createAlert', user_id=user_id)}}'>
          <h2>Create a new alert of service.</h2>
          <br/><br/>
          What servers will be affected?<br/>
          <input type='text' name='servers' id='servers' placeholder="Servers" maxlength='2000' style='width:95%;'/>
            <button id='add' onclick='addServers()' type='button'><a href=''></a></button>
          <br/>
          When will the service take place? <br/>
          <input type='date' name='date' placeholder="date"/>
          From what time:<br/>
          <input type='time' name='startTime' placeholder="Start Time"/>
          To what time: <br/>
          <input type='time' name='endTime' placeholder="End Time"/>
        <div class='item'>  <input style='color: white;' class='button' type='submit' value="submit"/></div>
      </form>
    </div>
    <script>
      function addServers() {
        var servers = document.getElementById('servers').value;
        regex = /((,\s)|(\s\s)|(;\s)|(\t\s)|[,\s;\t\n])/g;
        servers = servers.replace(regex, ",")
        servers = servers.split(",");
        document.getElementById('servers').value = servers
      }
    </script>
  </body>
</html>
