<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class='alt-page-container'>
        <ul class='flashes'>
          {% for message in messages %}
            <div class='item'>
              <li>{{ message }}</li>
            </div>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endwith %}

    <h1>Service Alerts</h1>
    {% if alerts %}
      {% for alert in alerts %}
        <div class='page-container'>
            <div class='item'>
              <span style='font-size: 0.75em;'>
                Maintenence has been scheduled for</span>
                <br/>
              <div class='scrolly-list'>
                {% set servers = alert.servers.split(",") %}

                {% for s in servers %}
                <div class='scrolly-list-item'>
                    <img src='/static/img/ic_system_update_black_18px.svg'>
                      <div style='padding: 16px 50px;'>  {{s}} </div>
                </div>
                {% endfor %}
              </div>
              on <span class='data'>{{alert.date}}</span>
              <br/>
              from <span class='data'>{{alert.startTime}}</span>
              to <span class='data'>{{alert.endTime}}</span>
            </div>


            <div class='buttons' >
              <div class='button'>
                <a href='{{url_for('requestException', alert_id=alert.id)}}' >
                  <span span class='button-text'>REQUEST EXCEPTION</span>
                </a>
              </div>
              <br/>
              <br/>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <div class='page-container'>
        <div class='item'>
          <span style='font-size: 0.5em; font-style: italic;'>There are no service alerts right now.</span>
        </div>
      </div>
    {% endif %}

  </body>
</html>
