<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
  </head>
  <body>
    <div class="page-container" >
      <form method='POST' action='{{url_for('requestException', alert_id=alert_id)}}'>
        <h2>Request an Exception to the Patch.</h2>
        <br/><br/>

        Please let us know who you are: <br/>
        <input type='text' name='user' /><br/>

        What server do you need withheld from the scheduled update? <br/><br/>

        <select id='server' name='server'>
        {% set servers = json.loads(alert.servers) %}
          {% for s in servers %}
            <option value="{{s}}">{{s}}</option>
          {% endfor %}
        </select> 
        <br/>

        Please prodive a reason why you need this exception: <br/>
        <textarea type='text' name='reason' rows='4'></textarea><br/><br/>

        What would be an acceptible date and time to reschedule this update? <br/>
        <input type='date' name='altDate' placeholder="alt date"/><br/>
        <input type='time' name='altTime' placeholder="alt time"/><br/>

        <div class='item'>
          <input style='color: white;' class='button' type='submit' value="submit"/>
        </div>
      </form>
    </div>
  </body>
</html>
