<html>
  <head>
      <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
      <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
    <div class='page-container'>
      <div class='item-box'>
        <div class='item'>
          <div class="chart">

          </div>
        </div>
      </div>
    </div>
    <script>
      let data = {{ servers | safe }}
      d3.select(".chart")
        .selectAll("div")
          .data(data)
        .enter().append("div")
          .style("width", function(d) { return d.count * 100 + "px"; })
	        .style("background-color", "blue")
          .text(function(d) { return d.name; });
    </script>
  </body>
</html>
