<html>
  <head>
      <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
      <script src="/static/js/d3/d3.js" charset="utf-8"></script>
  </head>
  <body>
    <div class='page-container'>
          <div class="chart">
          </div>
    </div>
    <script>
      var data = {{ servers | safe }}
      var svg = d3.select('.chart').append('svg');

      svg.style('width', '100%').style('height', '100%')
        .selectAll('rect')
          .data(data)
        .enter().append('rect')
          .attr('class', 'bar')
          .attr('width', function(d, i) { return (d.count * 100) })
          .attr('height','40')
          .attr('y', function(d, i) { return 400 - (i * 60 + 25) })
          .attr('x', '50');

      svg.selectAll('text')
        .data(data)
        .enter().append('text')
        .text(function(d) {return d.name + " - " + d.count;})
            .attr('y', function(d, i) {return 400 - (i * 60) })
            .attr('x', function(d, i) {return (d.count)});;


    </script>
  </body>
</html>
